# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
Tomas Doran <bobtfish@bobtfish.net> <tdoran@yelp.com>
Matt S Trout <mst@shadowcat.co.uk> Matt S Trout <matthewt@hercule.scsys.co.uk>
